* {
    box-sizing: border-box;
    --container-color-main: #262421;
    --container-color-darker: #1e1c1a;
    --container-color-lighter: #2e2b28;
}

.voice-container {
    z-index: 1000;
    border-radius: 10px;
    margin-top: 1rem;
    width: 90%;
    max-width: 50rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--container-color-main);
}

.voice-container-header {
    display: flex;
    width: 100%;
    background-color: var(--container-color-darker);
    align-items: center;
}

.voice-container-info {
    width: 50%;
    color: white;
    font-weight: bolder;
    padding-left: 0.5rem;
}

.voice-container-controls {
    width: 50%;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: flex-end;
}

.container-control {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.voice-container-minimizer {
    transition: 0.3s ease-in-out all;
}

.container-control > img {
    max-width: 3rem;
    padding: 0.5rem;
}

.container-control:hover {
    cursor: pointer;
    background-color: var(--container-color-lighter);
}

.voice-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    overflow: hidden;
    max-height: 10rem;
    padding: 1rem;
    gap: 1rem;
}
  
.closed-controls {
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    max-height: 0;
    padding: 0 1rem 0 1rem;
}

.controls-move-input {
    padding: 0.5rem;
    background-color: white;
    color: var(--container-color-darker);
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

